/venv
/MainWindowUI.py
tester.py
/App_UI_old_1.py
/old_pattern_main.py
/unic_code.txt
/ui_template
/notes.txt
/Application/main.spec
/Application/build/
func_test.py
unic_code.txt
**/__pycache__/
ui_template/uipy.sh
